<div class="row">
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/admin/auth/register">Register</a></h2>
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/admin/category/create">Category Create</a></h2>
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/admin/category/show">Categories Show</a></h2>
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/admin/screen/create">Screen Create</a></h2>
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/admin/screen/show">Screen Show</a></h2>
    <h2 class="col-2"><a style="color:#820263;" class="btn" href="/logout">LOGOUT</a></h2>

</div>
