{% extends 'admin.html.twig' %}

{% block title %}Hello ScreenController!{% endblock %}

{% block body %}
<style>
    .screen-create {
        height: 500px;
    }

    .screen-create .btn {
        background-color: #820263;
        color: white
    }
</style>

<div class="screen-create">
    <div class="category-create d-flex justify-content-center align-items-center w-100">
        <div class="cover w-75 p-5 card">
            <h1> Screen Create</h1>
            <form action="{{ path('screen.save') }}" method="post">
                <div class="mb-3">
                    <label class="form-label">Screen Title</label>
                    <input name='title' type="text" class="form-control" placeholder="Title...." required>
                </div>
                <div class="w-100 text-center">
                    <button type="submit" class="btn w-50">Create</button>
                    <div>
            </form>
            <div class="message">
                {% if data.message is defined and data.message is not empty %}
                {% if data.success is true %}
                <div class="text-success w-100 text-center">{{ data.message}}</div>
                {% else %}
                <div class="text-danger w-100 text-center">{{ data.message}}</div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
